<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwt.sbct.mapper.OssFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hwt.sbct.pojo.entity.OssFile">
        <id column="id" property="id" />
        <result column="md5" property="md5" />
        <result column="file_name" property="fileName" />
        <result column="file_type" property="fileType" />
        <result column="file_size" property="fileSize" />
        <result column="location" property="location" />
        <result column="acc_location" property="accLocation" />
        <result column="use_count" property="useCount" />
        <result column="deleted" property="deleted" />
        <result column="version" property="version" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, md5, file_name, file_type, file_size, location, acc_location, use_count, deleted, version, creator, create_time, updater, update_time
    </sql>

</mapper>
