<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwt.sbct.mapper.UserSocialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hwt.sbct.pojo.entity.UserSocial">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="user_id" property="userId" />
        <result column="openid" property="openid" />
        <result column="token" property="token" />
        <result column="raw_token_info" property="rawTokenInfo" />
        <result column="uuid" property="uuid" />
        <result column="user_name" property="userName" />
        <result column="nick_name" property="nickName" />
        <result column="avatar" property="avatar" />
        <result column="sex" property="sex" />
        <result column="blog" property="blog" />
        <result column="company" property="company" />
        <result column="location" property="location" />
        <result column="email" property="email" />
        <result column="raw_user_info" property="rawUserInfo" />
        <result column="code" property="code" />
        <result column="state" property="state" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="sort" property="sort" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, type, user_id, openid, token, raw_token_info, uuid, user_name, nick_name, avatar, sex, blog, company, location, email, raw_user_info, code, state, status, remark, sort, version, deleted, creator, create_time, updater, update_time
    </sql>

</mapper>
