<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wx.manage.mapper.WxUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wx.manage.pojo.entity.WxUser">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="password" property="password" />
        <result column="nick_name" property="nickName" />
        <result column="open_id" property="openId" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="head_url" property="headUrl" />
        <result column="sort" property="sort" />
        <result column="user_type" property="userType" />
        <result column="is_deleted" property="isDeleted" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, password, nick_name, open_id, sex, age, head_url, sort, user_type, is_deleted, creator, create_time, updater, update_time
    </sql>

</mapper>
